body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
.mainpage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;  
}
h3{
  
}
.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

a {
  color: red !important;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.phone {
  display: flex;
  justify-content: space-between;
  height: 95vh;
  flex-direction: column;
  background-color: #f8f8ff;
  width: 28%;
  border: 1px solid black;
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  background: #02316b;
  border-radius: 10px 10px 0 0;

}

.back-btn {
  width: 35px;
  height: 100%;
  padding-top: 10px;
  cursor: pointer;
}

.back-btn span {
  display: block;
  height: 3px;
  width: 75%;
  background: #e6e8e7;
  margin: 5px;
}

span.top-line,
span.bottom-line {
  width: 45%;
  border-radius: 30px;
}

span.top-line {
  transform: rotate(-42deg);
  transform-origin: 10px 4px;
}

span.bottom-line {
  transform: rotate(42deg);
  transform-origin: 10px -1px;
}

.profile-photo {
  width: 47px;
  height: 90%;
  background: rgb(200, 200, 200);
  border-radius: 50%;
  cursor: pointer;
}

.profile-name {
  font-weight: 600;
  padding-left: 10px;
  font-size: 20px;
}

.active-status {
  padding-left: 5px;
  font-size: 11.5px;
}

.chats {
  flex: 1;
  overflow-y: scroll;
  background: linear-gradient(45deg, #ccccce, #9fa1a1);
}

.chat {
  padding: 8px 10px;
}

.chats::-webkit-scrollbar {
  display: none;
}

.chat-sent {
  display: flex;
  margin-left: auto;
  max-width: 85%;
}

.chat-received {
  display: flex;
  margin-right: auto;
  max-width: 85%;
}

.message-sent {
  margin-left: auto;
  background: rgb(2, 154, 90);
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  word-break: break-all;
  height: auto;
}

.message-received {
  padding: 10px;
  border-radius: 20px;
  background: #e0e0e1;
  color: black;
  font-weight: 600;
}

.text-area {
  border-radius: 10px;
  display: flex;
  width: 100%;
  background: rgb(255, 255, 255);
}

.text-area input {
  display: inline;
  padding-left: 20px;
  padding-right: 90px;
  outline: none;
  width: 100%;
  height: 45px;
  color: black;
  border-radius: 20px;
  border: none;
}

.send-button {
  width: 80px;
  border-radius: 20px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: #e4e4e4;
}

.encryptKey input::-webkit-scrollbar-thumb {
  display: none;
}

.encryptKey h2 {
  color: black;
}

.decryptKey h2 {
  color: black;
}

.encryptKey input {
  display: block;
  width: 65px;
  height: 35px;
  color: black;
  margin-top: 10px;
}

.decryptKey input {
  display: block;
  margin-top: 10px;
  width: 65px;
  height: 35px;
  color: black;
}